.manage-businesses-container {
  padding: 20px;
  margin: 0 auto;

  .manage-businesses-header {
    margin-bottom: 20px;
    text-align: center;
    color: #3f51b5;
  }

  .MuiTabs-root {
    margin-bottom: 20px;

    .MuiTab-root {
      font-size: 1rem;
      text-transform: none;
    }
  }

  .create-business-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .MuiButton-contained {
      background-color: #3f51b5;
      color: #fff;
      padding: 10px 20px;
      font-size: 1rem;
    }
  }

  .no-businesses-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;

    .MuiTypography-h5 {
      margin-bottom: 20px;
      color: #757575;
    }
  }
}
